version: '3.1'
services:
  db:
    image: mariadb:11.7.2
    container_name: mariadb_container_nodejs_assurance
    restart: always
    environment:
      MARIADB_ROOT_PASSWORD: root
      MARIADB_USER: root
    ports:
      - 3307:3306
    volumes:
      - mariadb_data:/var/lib/mysql
  adminer:
    image: adminer
    container_name: adminer_container_nodejs_assurance
    restart: always
    ports:
      - 8081:8080

volumes:
  mariadb_data:

  # pgadmin:
  #   image: dpage/pgadmin4
  #   container_name: pgadmin
  #   restart: unless-stopped
  #   env_file:
  #     - .env
  #   ports:
  #     - "5050:80"
  #   depends_on:
  #     - db
  #   networks:
  #     - esim_network